<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Lista de dados</h2>
        <form action='/filter' method="post">
            <label for="cnpj">CNPJ</label>
            <input id="cnpj" type="text" cnpjem="cnpjem">
            <label for="razao_social">Razão Social</label>
            <input id="razao_social" type="text" rses="rses">
            <label for="Logradouro">Logradouro</label>
            <input id="Logradouro" type="text" lso="lso">
            <button  type="submit">Submit</button>
        </form>
</body>

</html>